<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Components Demo</title>
  <link rel="stylesheet" href="style.css">
</head>
<body class="centervh">
  <section>
    <a href="customelements.html">Custom Elements Demo</a>
  </section>
  <section>
    <a href="polymer.html">Polymer Demo</a>
  </section>
  <section>
    <a href="githubissues.html">Polymer iron-ajax with data bindings Demo</a>
  </section>
  <section>
    <a href="upcomingevents.html">Meetup.com Upcoming Events Demo</a>
  </section>
</body>
</html>